snippet reset
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

p {	margin: 1em 0 }

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}

input, select, textarea, button, optgroup, address {
	font: inherit;
}

optgroup {
	padding: inherit;
}

endsnippet

snippet wptheme
/*
Theme Name: ${1:name}
Theme URI: ${2:uri}
Author: none
Author URI: none
Description: Custom theme
Version: 1.0
License: Closed
License URI: none
Tags: none
Text Domain: $1
*/
endsnippet

